@import url('https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css');
div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.4;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: $color_text_main;
  @include tab {
    font-size: 14px;
  }
}
p {
  margin: 0 0 1.3em;
  position: relative;
  &.list-title {
    top: 8px;
  }
}
section, div {
	&:focus {
		outline: 0;
	}
}
a,input,button,select,textarea {
	transition: all ease .3s;
}
a {
	color: $blue;
	text-decoration: underline;
	&:hover {
    color: tint($blue,20%);
	}
}
h1 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.1;
}
h2 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.1;
}
h3 {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.1;
}
h4 {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.1;
}
h5 {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.1;
}
h6 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.1;
}
.letter-space {letter-spacing:1px;}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}
.fw,.full {width:100%!important;float:left !important}
.nomtop {margin-top:0!important;}
.nombottom {margin-bottom:0!important;}
/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.flexwrap {
	position: relative;
	@include flexgroup();
}
.site {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 30em;
}

/* Header */
#site-logo {
  display: inline-block;
  width: 300px;
  a, img {
    display: block;
    width: 100%;
    height: auto;
    float: left;
  }
}

/* Navigation */
.mobile-menu {
  display: none;
}
.wrapper {
  max-width: $wrapper;
  width: 100%;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.site-header {
  .wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .flexwrap {
    @include flexgroup();
    @include flexbox-align-items(center);
    @include flexbox-justify(space-between);
  }
}
.slider,
.swiper,
.swiper-wrapper,
.swiper-slide {
  height: 70vh;
}
.slider {
  overflow: hidden;
  .swiper-slide {
    position: relative;
    height: 100%;
  }
  .slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: {
      size: cover;
      color: #545454;
      repeat:no-repeat;
      position: center;
    }
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    }
  }
  .slide-text {
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    .wrap {
      width: 100%;
      height: 100%;
      text-align: center;
      @include flexgroup();
      @include flexbox-align-items(center);
      @include flexbox-justify(center);
      .inline {
        max-width: 800px;
        width: 100%;
        margin: 15px 0 0;
      }
    }
    .slideHeading {
      font-size: 4em;
      font-weight: 600;
      line-height: 1.1;
      text-transform: uppercase;
      text-shadow: 0 3px 5px rgba(0,0,0,0.25);
      margin:0 0 15px;
    }
    .slideDetails {
      font-size: 1.3em;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    .slideBtn {
      display: inline-block;
      text-decoration: none;
      background: $secondary;
      padding: 8px 22px;
      color: #FFF;
      font-size: 20px;
      line-height: 1.1;
      margin:0 15px;
      position: relative;
      &:after {
        content:"";
        display: block;
        width: 100%;
        height: 2px;
        background: $lime;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all ease .3s;
      }
      span {
        position: relative;
        z-index: 5;
      }
      &:hover {
        &:after {
          height: 100%;
        }
      }
    }
  }
  .textwrap {
    .wrap {
      text-align: center;
      @include flexgroup();
      @include flexbox-align-items(center);
      @include flexbox-justify(center);
    }
  }
}

#site-navigation {
  ul.menu {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    display: inline-block;
    float: right;
  }
  ul.menu a {
    display: inline-block;
    color: $primary;
    text-decoration: none;
  }
  ul.menu > li {
    float: left;
  }
  ul.menu > li > a {
    text-transform: uppercase;
    font-family: $font_secondary;
    font-size: 14px;
    font-weight: normal;
    padding: 0 17px;
    position: relative;
    &:after {
      content:"";
      display: block;
      // width: calc(100% - 34px);
      width: 0;
      height: 2px;
      background: $lime;
      position: absolute;
      left: 17px;
      bottom: -2px;
      opacity: 0;
      transition: all ease .3s;
    }
  }
  ul.menu > li.current_page_item > a,
  ul.menu > li:hover > a {
    &:after {
      width: calc(100% - 34px);
      opacity: 1;
    }
  }
}

// .wp-block-cover.alignfull {
//   padding: 0 0;
// }
.wp-block-columns {
  max-width: $wrapper;
  width: 100%;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
  &.alignwide {
    max-width: 80%;
  }
  &.alignfull {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.overlay-white {
  padding: 50px 0;
  &:before {
    content: "";
    display: block;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  }
  .wp-block-cover__inner-container {
    position: relative;
    z-index: 10;
  }
  .video {
    figure {
      margin: 0 0 20px;
      padding: 5px;
      border:2px solid $lime;
    }
  }
}

.wp-block-column.innerpad {
  padding: 20px;
}

.video-link {
  display: inline-block;
  position: relative;
  &:before, &:after {
    content:"";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all ease .3s;
  }
  &:before {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px solid #FFF;
    background-color: rgba(255,255,255,.15);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 19px 31px rgba(0,0,0,0.1);
  }
  &:after {
    width: 0;
    height: 0;
    border-left: 30px solid #FFF;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    transform: translateX(-35%) translateY(-50%);
  }
  &:hover {
    &:before {
      background-color: rgba(255,255,255,.35);
    }
  }
}

.home-carousel {
  max-width: $wrapper;
  width: 100%;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  .item {
    padding: 8px;
    overflow: hidden;
    a {
      display: inline-block;
      width: 100%;
      height: auto;
      @include backgroundImage(center);
      // transform: scale(1.3);
      box-shadow: 0 2px 7px rgba(0,0,0,0.2);
      img {
        width: 100%;
        height: auto;
        float: left;
      }
    }
  }
  .owl-nav {display:none!important;}
  .owl-carousel .owl-item {margin-right:0!important;}

  .carousel-title {
    margin: 50px 0 30px;
  }
  .social-handle-link {
    @include flexgroup();
    @include flexbox-justify(center);
    @include flexbox-align-items(center);
    position: relative;
    text-decoration: none;
    img {
      width: 70px;
      height: auto;
      margin-right: 15px;
    }
    span {
      color: $primary;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1;
      text-decoration: none;
    }
    &:hover span {
      color: $secondary;
    }
  }

  .owl-dots {
    text-align: center;
    .owl-dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: #CCC;
      border-radius:100px;
      margin: 5px;
      padding: 0 0!important;
      &.active {
        background: $secondary;
      }
    }
  }
}

.footer-widget .sign-up-info {
  text-align: center;
  margin-bottom: 0;
  margin-bottom: 30px;
  @include tab {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-widget .widgettext {
  margin-bottom: 30px;
  text-align: center;
  @include tab {
    text-align: left;
    margin-bottom: 0;
  }

  a.signupBtn {
    position: relative;
    z-index: 10;
    color: $primary;
    display: inline-block;
    text-decoration: none;
    background: #FFF!important;
    padding: 4px 35px;
    opacity: 1!important;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 12px;
  }
} 

/* FOOTER */
.site-footer {
  background: $primary;
  color: #FFF;
  font-size: 13px;
  .wrapper {
    padding-top: 50px;
    padding-bottom: 50px
  }
}
.footer-widget {
  width: 100%;
  &.foot-logo {
    @include tab {
      padding-right: 5vw;
    }
    img {
      width: 150px;
      height: auto;
    }
  }
  @include tab {
    width: 25%;
  }
  .widgettitle {
    font-size: 0.85rem;
    letter-spacing: 1px;
    text-align: center;
    @include tab {
      text-align: left;
    }
  }

  .widgettext {
    line-height: 1.8;
    p {
      opacity: 0.75;
    }
    ul {
      margin: 0 0;
      padding: 0 0;
      list-style: none;
      text-transform: uppercase;
      li {
        margin: 0 0 4px;
      }
    }
    a {
      display: inline-block;
      color: #FFF;
      text-decoration: none;
      opacity: 0.75;
      &:hover {
        opacity: 1;
      }
    }
  }


  .social-media {
    @include flexgroup();
    @include flexbox-align-items(flex-start);
    @include flexbox-justify(flex-start);
    a {
      @include flexgroup();
      @include flexbox-align-items(center);
      @include flexbox-justify(center);
      margin: 0 5px;
      font-size: 0.7rem;
      line-height: 1;
      text-decoration: none;
      border-radius: 100px;
      background: #FFF;
      color: $primary;
      width: 25px;
      height: 25px;
      opacity: 1;
    }
  }
}
