@import url('https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css');
div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.4;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: $color_text_main;
  @include tab {
    font-size: 14px;
    padding-top: 100px;
  }
}
p {
  margin: 0 0 1.3em;
  position: relative;
  &.list-title {
    top: 8px;
  }
}
section, div {
	&:focus {
		outline: 0;
	}
}
a,input,button,select,textarea {
	transition: all ease .3s;
}
a {
  text-decoration: underline;
	color: #0999f3;
  &:hover {
    color: #191970;
  }
}
h1 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.1;
}
h2 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.1;
}
h3 {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.1;
}
h4 {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.1;
}
h5 {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.1;
}
h6 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.1;
}
.letter-space {letter-spacing:1px;}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}
.fw,.full {width:100%!important;float:left !important}
.nomtop {margin-top:0!important;}
.nombottom {margin-bottom:0!important;}
/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.flexwrap {
	position: relative;
	@include flexgroup();
}
.site {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 30em;
}

/* Header */
#site-logo {
  display: inline-block;
  width: 300px;
  position: relative;
  top: -2px;
  transition: all ease .3s;
  a, img {
    display: block;
    width: 100%;
    height: auto;
    float: left;
  }
  @include max($tabwidth) {
    width: 215px;
  }
}



.wrapper {
  max-width: $wrapper;
  width: 100%;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.site-header {
  position: relative;
  z-index: 100;
  @include tab {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #FFF;
  }
  .wrapper {
    padding-top: 0;
    padding-bottom: 0;
    @include max($tabwidth) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .flexwrap {
    @include flexgroup();
    @include flexbox-align-items(center);
    @include flexbox-justify(space-between);
  }
}
.slider {
  height: 92vh;
}

.swiper, .swiper-wrapper, .swiper-slide {
  height: 100%;
}
.slider {
  overflow: hidden;
  .swiper-slide {
    position: relative;
    height: 100%;
  }
  .slide-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: {
      size: cover;
      color: #545454;
      repeat:no-repeat;
      position: center;
    }
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    }
  }
  .slide-text {
    color: #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    .wrap {
      width: 100%;
      height: 100%;
      text-align: center;
      @include flexgroup();
      @include flexbox-align-items(center);
      @include flexbox-justify(center);
      .inline {
        max-width: 800px;
        width: 100%;
        margin: 15px 0 0;
        padding: 20px;
        @include tab {
          padding: 0 0;
        }
      }
    }
    .slideHeading {
      font-size: 8vw;
      font-weight: 600;
      line-height: 1.1;
      text-transform: uppercase;
      text-shadow: 0 2px 8px rgba(0,0,0,0.35);
      margin:0 0 15px;
      @include tab {
        font-size: 4em;
      }
    }
    .slideDetails {
      font-size: 1.3em;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    .slideBtn {
      display: inline-block;
      text-decoration: none;
      background: $secondary;
      padding: 8px 22px;
      color: #FFF;
      font-size: 20px;
      line-height: 1.1;
      margin:0 15px;
      position: relative;
      &:after {
        content:"";
        display: block;
        width: 100%;
        height: 2px;
        background: $lime;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all ease .3s;
      }
      span {
        position: relative;
        z-index: 5;
      }
      &:hover {
        &:after {
          height: 100%;
        }
      }
    }
  }
  .textwrap {
    .wrap {
      text-align: center;
      @include flexgroup();
      @include flexbox-align-items(center);
      @include flexbox-justify(center);
    }
  }
}

/* Navigation */
#site-navigation {
  transition: all ease .3s;
  ul.menu {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    display: inline-block;
    float: right;
  }
  ul.menu a {
    display: inline-block;
    color: $primary;
    text-decoration: none;
    i {
      display: inline-block;
      width: 0;
      font-size: 0px;
      color: transparent;
    }
  }
  ul.menu > li {
    float: left;
    position: relative;
  }
  ul.menu > li > a {
    text-transform: uppercase;
    font-family: $font_secondary;
    font-size: 14px;
    font-weight: normal;
    padding: 40px 18px 40px;
    position: relative;
    z-index: 1000;
    &:after {
      content:"";
      display: block;
      width: 0;
      height: 2px;
      background: $lime;
      position: absolute;
      left: 17px;
      top: 63px;
      opacity: 0;
      transition: all ease .3s;
    }
  }
  ul.menu > li.current_page_item > a,
  ul.menu > li:hover > a {
    &:after {
      width: calc(100% - 34px);
      opacity: 1;
    }
  }
  ul.menu ul {
    display: block;
    width: 250px;
    background: $primary;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    position: absolute;
    left: 0;
    transition: all ease .3s;
    // transform: translateY(-50px);
    opacity: 0;
    z-index: -9999;
    height: 0;
    overflow: hidden;
  }
  ul.menu ul a {
    display: block;
    padding: 5px 20px;
    color: #FFF;
  }
  ul.menu ul li.current_page_item > a,
  ul.menu ul > li:hover > a {
    color: $lime;
  }
  ul.menu li.menu-item-has-children:hover > ul {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translateY(0);
    opacity: 1;
    z-index: 9999;
    height: auto;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
    // @include animateThis(1s);
    // @include animateEffect(fadeIn);
  }

  /* Mobile View */
  @include max($tabwidth) {
    display: block;
    position: fixed;
    top: 0;
    right: -100vw;
    max-width: 340px;
    width: 100%;
    height: 100%;
    background: #FFF;
    // z-index: 10000;
    z-index: -999;
    &:before {
      content:"";
      display: block;
      width: 100%;
      height: 85px;
      background: #FFF;
      border-bottom: 1px dashed #e0e0e0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 50;
    }
    #navigation {
      height: 100%;
      overflow: auto;
    }
    #navigation > ul.menu {
      padding-top: 85px;
      padding-bottom: 100px;
    }
    ul.menu,
    ul.menu > li  {
      width: 100%;
      float: left;
    }
    ul.menu > li {
      border-bottom: 1px dashed #e0e0e0;
    }
    ul.menu>li>a {
      display: inline-block;
      font-size: 1.2em;
      line-height: 1.2;
      padding: 15px 28px;
      position: static;
      width: 100%;
    }
    ul.menu {
      ul.sub-menu {
        display: none!important;
        width: 100%;
        a {
          font-size: 1em;
          line-height: 1.1;
          padding: 12px 20px 12px 25px;
        }
      }
    }

    ul.menu > li.menu-item-has-children > a {
      i {
        display: block;
        width: 70px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1005;
        // border-left: 1px solid #e0e0e0;
        &:before, &:after {
          content:"";
          display: block;
          width: 13px;
          height: 2px;
          background: $primary;
          position: absolute;
          top: 35px;
          left: 22px;
        }
        &:before {
          transform: translateY(-7px) rotate(45deg);
        }
        &:after {
          transform: translate(8px, -7px) rotate(-45deg);
        }
      }
    }

    ul.menu > li.current_page_item:hover > a,
    ul.menu > li.current_page_item > a {
      color: $primary;
    }
    ul.menu > li.current_page_item > a {
      &:before {
        content:"";
        display: block;
        width: 7px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $lime;
      }
    }
    ul.menu > li.open-dropdown > ul.sub-menu {
      display: block!important;
      position: relative;
      opacity: 1!important;
      z-index: 10000!important;
      padding-top: 10px!important;
      padding-bottom: 10px!important;
    }
    ul.menu>li>a:after {display:none!important;}
    &.active {
      right: 0;
      z-index: 10000;
    }
  }
}

.mobile-menu {
  display: none;
  @include max($tabwidth) {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    position: absolute;
    top: 3px;
    right: 5px;
    i {
      display: block;
      width: 0;
      overflow: hidden;
      text-indent: -99em;
    }
    span.bar,
    span.bar:before,
    span.bar:after {
      display: block;
      height: 3px;
      background: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      transition: all ease .3s;
    }
    span.bar {width: 70%;}
    span.bar:before, span.bar:after {content:"";width:100%;}
    span.bar:before {
      margin-top: -12px;
    }
    span.bar:after {
      margin-top: 9px;
    }
    &.active {
      right: 0;
      z-index: 99999;
      transform: scale(0.75);
      span.bar {
        transform: translate(-50%) rotate(45deg);
      }
      span.bar:before {
        margin-top: -1px;
        background: transparent;
      }
      span.bar:after {
        transform: translate(-50%) rotate(-90deg);
        margin-top: 0;
      }
    }
  }
}

body.mobile-menu-open {
  @include max($tabwidth) {
    overflow: hidden;
    .site:before {
      content:"";
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.5);
      backdrop-filter: blur(10px);
      z-index: 100;
    }
    #site-logo {
      @include animateThis(1s);
      @include animateEffect(fadeIn);
      width: 200px;
      position: absolute;
      top: 10px;
      left: unset;
      right: 100px;
      z-index: 999999;
    }
  }
}

// .wp-block-cover.alignfull {
//   padding: 0 0;
// }
.wp-block-columns {
  max-width: $wrapper;
  width: 100%;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
  &.alignwide {
    max-width: 80%;
  }
  &.alignfull {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.overlay-white {
  padding: 50px 0;
  &:before {
    content: "";
    display: block;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  }
  .wp-block-cover__inner-container {
    position: relative;
    z-index: 10;
  }
  .video {
    figure {
      margin: 0 0 20px;
      padding: 5px;
      border:2px solid $lime;
    }
  }
}

.border-bottom-gold {
  border-bottom: 2px solid #c6c266;
}

.wp-block-column.innerpad {
  padding: 30px;
  @include tab {
    padding: 2.2vw;
  }
  .wp-block-buttons {
    gap: 0.85em;
  }
  a.wp-block-button__link {
    padding: 5px 15px;
    font-size: 1em;
    border: 1px solid #FFF;
    &:hover {
      background: transparent!important;
      color: #FFF!important;
    }
  }
}

.video-link {
  display: inline-block;
  position: relative;
  &:before, &:after {
    content:"";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all ease .3s;
  }
  &:before {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 2px solid #FFF;
    background-color: rgba(255,255,255,.15);
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 19px 31px rgba(0,0,0,0.1);
  }
  &:after {
    width: 0;
    height: 0;
    border-left: 30px solid #FFF;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    transform: translateX(-35%) translateY(-50%);
  }
  &:hover {
    &:before {
      background-color: rgba(255,255,255,.35);
    }
  }
}

.home-carousel {
  max-width: $wrapper;
  width: 100%;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  .item {
    padding: 8px;
    overflow: hidden;
    a {
      display: inline-block;
      width: 100%;
      height: auto;
      @include backgroundImage(center);
      // transform: scale(1.3);
      box-shadow: 0 2px 7px rgba(0,0,0,0.2);
      img {
        width: 100%;
        height: auto;
        float: left;
      }
    }
  }
  .owl-nav {display:none!important;}
  .owl-carousel .owl-item {margin-right:0!important;}

  .carousel-title {
    margin: 50px 0 30px;
  }
  .social-handle-link {
    @include flexgroup();
    @include flexbox-justify(center);
    @include flexbox-align-items(center);
    position: relative;
    text-decoration: none;
    img {
      width: 70px;
      height: auto;
      margin-right: 15px;
    }
    span {
      color: $primary;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1;
      text-decoration: none;
    }
    &:hover span {
      color: $secondary;
    }
  }

  .owl-dots {
    text-align: center;
    .owl-dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: #CCC;
      border-radius:100px;
      margin: 5px;
      padding: 0 0!important;
      &.active {
        background: $secondary;
      }
    }
  }
  .owl-stage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
}

.footer-widget .sign-up-info {
  text-align: center;
  margin-bottom: 0;
  margin-bottom: 30px;
  @include tab {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-widget .widgettext {
  margin-bottom: 30px;
  text-align: center;
  @include tab {
    text-align: left;
    margin-bottom: 0;
  }

  a.signupBtn {
    position: relative;
    z-index: 10;
    color: $primary;
    display: inline-block;
    text-decoration: none;
    background: #FFF!important;
    padding: 4px 35px;
    opacity: 1!important;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 12px;
  }
} 

body.logged-in.admin-bar {
  @include tab {
    .site-header {
      top: 32px;
    }
  }
  @include max($tabwidth) {
    &.mobile-menu-open {
      padding-top: 0;
    }
    #site-navigation:before {
      top: 46px;
    }
    #site-navigation #navigation > ul.menu {
      padding-top: 130px;
    }
  }
}

.entry-content {
  max-width: $wrapper;
  width: 100%;
  // min-height: 20em;
  margin: 0 auto 70px;
  padding-left: 15px;
  padding-right: 15px;
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

body.subpage {
  .site-header {
    border-bottom: 3px solid $lime;
    box-shadow: none;
  }
  #primary {
    padding-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 20em;
  }
  @include tab {
    .site-header {
      box-shadow: 0 2px 10px rgba(0,0,0,.05);
    }
  }
}



/* subpage hero */
.subpage-hero {
  position: relative;
  // border-top: 5px solid $lime;
  margin-bottom: 20px;
  figure {
    margin: 0 0;
  }
  img {
    width: 100%;
    height: auto;
  }
}


.page-title {
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: $primary;
  position: relative;
  &:after {
    content:"";
    display: block;
    width: 80px;
    height: 3px;
    background: $primary;
    margin: 12px auto 0;
  }
}
.content-section {
  margin: 80px 0;
}
.twocols-container {
  margin-top: 30px;
  margin-bottom: 30px;
  .wrapper {
    max-width: $wrapper;
    width: 100%;
    margin: 25px auto;
    @include flexgroup();
    @include flexbox-justify(space-between);
  }
  .fxcol {
    width: 100%;
    &.left {
      @include tab {
        width: 60%;
      }
      h2:first-child {
        font-size: 25px;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $primary;
        position: relative;
        margin: 0 0 30px;
        &:after {
          content:"";
          display: block;
          width: 50px;
          height: 3px;
          background: $primary;
          margin: 10px 0 0;
        }
      }
      p:empty {
        display: none;
      }
    }
    &.right {
      @include tab {
        width: 36%;
      }
      figure {
        margin: 0 0 15px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.mapwrap {
  position: relative;
  width: 100%;
  float: left;
  img.resizer {
    width: 100%;
    height: auto;
    float: left;
  }
  iframe {
    margin: 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.quick_links {
  margin-bottom: 50px;
  .widget-title {
    font-size: 24px;
    color: $primary;
    width: 100%;
    position: relative;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 15px;
  }
  .wrapper {
    max-width: $wrapper + 200px;
    @include flexgroup();
    @include flexbox-justify(center);
  }
  .widget {
    padding: 20px 15px;
    width: 100%;
    @include xxs {
      width: 50%;
      padding: 20px 15px;
    }
    @include tab {
      padding: 15px;
      width: 25%;
    }
    @include mid {
      width: 16.666%;
    }
    a {
      display: block;
      width: 100%;
      text-decoration: none;
      color: $primary;
      text-align: center;
    }
    span {
      display: inline-block;
      width: 100%;
      transition: all ease .3s;
    }
    span.icon {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background: $primary;
      margin: 0 auto 18px;
      @include flexgroup();
      @include flexbox-justify(center);
      @include flexbox-align-items(center);
      i {
        color: #FFF;
        font-size: 48px;
        line-height: 1;
      }
    }
    span.title {
      font-size: 16px;
      line-height: 1.3;
      color: $primary;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    a:hover {
      span.icon {
        transform: scale(1.1);
      }
    }
  }
}

.sb_instagram_header {
  @include flexgroup();
  @include flexbox-justify(center);
  @include flexbox-align-items(center);
}

// #sb_instagram {
//   #sbi_load {
//     display: none;
//   }
//   #sbi_images {
//     padding: 0 0!important;
//     width: 0;
//     height: 0;
//     overflow: hidden;
//   }
// }

.instagram-carousel-wrap {
  width: 100%;
  float: left;
  padding-top: 15px;
}
#insta-carousel {
  max-width: $wrapper;
  width: 100%;
  margin:0 auto;
  .owl-prev,
  .owl-next {
    display: none!important;
  }
  .owl-dots {
    text-align: center;
    margin-top: 15px;
    &.disabled {
      display: block;
      width: 100%;
      float: left;
      height: 0;
      overflow: hidden;
      margin-bottom: 30px;
      .owl-dot {
        display: none!important;
      }
    }
  }
  .owl-dot {
    border: none;
    -webkit-appearance: none;
    box-shadow: none;
    background: #DDD;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    margin: 5px;
    &.active {
      background: $secondary;
    }
  }
  .sbi_photo_wrap {
    height: 200px!important;
    overflow: hidden;
  }
  .sbi_photo {
    height: 100%!important;
  }
}

#gform_wrapper_3 {
  select, input[type="text"] {
    border-radius: 0!important;
    padding: 5px;
    border: 1px solid #6d6d6d;
    height: 32px;
    margin: 0 0;
  }
  .ginput_container_address {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .ginput_address_line_1,
  .ginput_address_line_2 {
    width: 100%;
    margin: 0 0 8px;
  }
  .ginput_address_city,
  .ginput_address_state {
    width: 40%;
    padding: 0 10px!important;
    margin: 0 0;
    select {
      margin: 0 0;
    }
  }
  .ginput_address_city {
    padding-left: 0!important;
  }
  .ginput_address_zip {
    width: 20%;
    padding: 0 0 0 10px!important;
    margin: 0 0!important;
  }
  &.gform_legacy_markup_wrapper ul.gform_fields li.gfield#field_3_3,
  &.gform_legacy_markup_wrapper ul.gform_fields li.gfield#field_3_4 {
    margin: 0 0;
    padding: 0 0;
    width: 49.1%;
    clear: none;
    .ginput_container,
    .ginput_container input {
      width: 100%;
    }
  }
  &.gform_legacy_markup_wrapper ul.gform_fields li.gfield#field_3_3 {
    float: left;
  }
  &.gform_legacy_markup_wrapper ul.gform_fields li.gfield#field_3_4 {
    float: right;
  }
  &.gform_legacy_markup_wrapper ul.gform_fields li.gfield#field_3_1 .ginput_container_name {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
    margin: 0 0;
    @include tab {
      padding-right: 15px;
    }
    p {
      display: block;
      margin: 0 0;
      padding: 0 0;
      width: 49%;
      label {
        position: relative;
        top: -20px;
      }
    }
    p input {
      display: block;
      margin: 0 0;
      padding: 0 0;
      width: 100%;
    }
    p span {
      display: block;
      width: 100%;
      margin: 0 0!important;
      padding: 0 0!important;
    }
  }
  &.gform_legacy_markup_wrapper ul.gform_fields li.gfield#field_3_1,
  &.gform_legacy_markup_wrapper ul.gform_fields li.gfield#field_3_2 {
    margin-top: 0!important;
    padding-right: 0!important;
  }
  &.gform_legacy_markup_wrapper ul.gform_fields li.gfield#field_3_2 {
    position: relative;
    top: -15px;
  }
  &.gform_legacy_markup_wrapper ul.gform_fields li.gfield#field_3_1 p {
    margin: 0 0 0 0;
  }
  &.gform_legacy_markup_wrapper ul.gform_fields li.gfield#field_3_1 {
    label {
      position: relative;
      top: 13px;
    }
    span label {
      top: 0;
      margin: 0 0!important;
      padding: 0 0!important;
    }
  }
  &.gform_legacy_markup_wrapper ul.gform_fields li#field_3_5 {
    width: 100%;
    float: left;
    label.gfield_label {
      position: relative;
      top: 12px;
    }
    .gfield_radio li {
      position: relative;
      overflow: visible;
      label {
        margin: 0 0;
        position: absolute;
        top: 5px;
        left: 20px;
      }
    }
  }
  &.gform_legacy_markup_wrapper ul.gform_fields li#field_3_6 {
    margin-top: 20px!important;
    width: 100%;
    float: left;
  }
  .gform_footer {
    padding-top: 25px;
  }
  input.gform_button.button {
    border-radius: 0;
    background: $lime;
    padding: 12px 30px;
    color: #FFF;
    -webkit-appearance: none;
    text-transform: uppercase;
    border: none!important;
    &:hover {
      background: $primary;
    }
  }
}

.donation-links {
  .linkouts {
    @include flexgroup();
    @include flexbox-justify(space-between);
    margin-top: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .linkbox {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 35px;
    @include tab {
      flex-basis: 30%;
    }
    h3 {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0 15px;
      color: $primary;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .btn {
      a {
        display: inline-block;
        background: $lime;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        width: 100%;
        text-align: center;
        padding: 10px 15px;
        &:hover {
          background: $primary;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
      float: left;
    }

  }
  div.img {
    width: 100%;
    height: auto;
    float: left;
    @include backgroundImage(center);
  }
}

body.page-template-page-give {
  .entry-content {
    h3 {
      margin: 10px 0 5px;
    }
    h4 {
      margin: 10px 0 6px;
    }
  }
}

section.staff {
  .inner {
    @include flexgroup();
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
  }
  .staff-card {
    width: 100%;
    padding: 20px;
    transition: all ease .3s;
    @include tab {
      width: 33.33%;
    }
    figure {
      margin: 0 0;
      @include backgroundImage(center);
      background-color: #e0e2c6;
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      &.no-image {
        &:before {
          content:"Photo Coming Soon";
          display: block;
          width: 100%;
          text-align: center;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          color: #a0a66c;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 2px;
          text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
        }
      }
    }
    .card {
      display: block;
      padding: 20px;
      border: 2px solid $lime;
      background-color: rgba(194,198,106,.2);
      color: $primary;
      text-align: center;
      transition: all ease .3s;
    }
    .photo {
      display: block;
      width: 100%;
      float: left;
      position: relative;
      a {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        img {
          display: none;
        }
      }
    }
    a {
      display: block;
      text-decoration: none;
      i {
        color: #383838;
      }
    }
    .staffname {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.3;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $primary;
      width: 100%;
      float: left;
      margin: 10px 0 5px;
    }
    .stafftitle {
      width: 100%;
      float: left;
      font-size: 13px;
      line-height: 1.3;
      color: #383838;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0 0 10px 0;
    }
    &:hover {
      .card {
        background: #D4D898;
      }
    }
  }
}

section.dec-elders {
  margin: 50px auto 70px;
  h2 {
    font-size: 25px;
    font-weight: normal;
    line-height: 1.3;
    margin: 0 0 20px;
    color: $primary;
    border-bottom: 1px solid $primary;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
  }
  .colwrap {
    @include flexgroup();
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 50px;
  }
  .col {
    width: 100%;
    padding: 15px;
    @include tab {
      width: 33.333%;
    }
    h3 {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.2;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 0 0 10px;
      color: $secondary;
    }
  }
}


.pop-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  div.pic {
    width: 100%;
    margin-bottom: 10px;
    @include tab {
      width: 35%;
      margin-bottom: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  div.bio {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    @include tab {
      width: 62%;
    }
    h1 {
      margin: 0 0;
      font-size: 2.2rem;
      line-height: 1.2;
      color: $primary;
    }
    h2 {
      font-size: 1.1rem;
      line-height: 1.2;
      margin: 0 0;
    }
    div.heading {
      margin-bottom: 20px;
    }
  }
}
.sermons-wrapper {
  margin-top: 40px;
}
.two-columns-section {
  margin-bottom: 50px;
  @include flexgroup();
  @include flexbox-justify(space-between);
  .sermons {
    width: 100%;
    @include tab {
      width: 70%;
    }
  }

  .widget-area {
    width: 100%;
    margin-top: 15px;
    @include tab {
      width: 25%;
    }
    ul {
      margin: 0 0;
      padding: 0 0;
      list-style: none;
      li {
        margin: 0 0 4px;
      }
    }
    h2 {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.2;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 0 0 15px 0;
      color: #383838;
    }
    a {
      text-decoration: none;
      color: $primary;
      font-size: 15px;
      &:hover {
        color: $lime;
      }
    }
  }

  .month-year {
    margin: 18px 0 0;
    background: $lime;
    color: $primary;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 15px 15px;
  }

  .info {
    background-color: #efefef;
    position: relative;
    min-height: 100px;
    padding: 10px 10px 10px 110px;
    border-bottom: 3px solid $primary;
    @include flexgroup();
    justify-content: space-between;
    align-items: center;
    &:before {
      content:"";
      display: block;
      width: 2px;
      height: 80%;
      background: $primary;
      position: absolute;
      top: 50%;
      left: 110px;
      transform: translateY(-50%);
    }
    @include tab {
      &:before {display:none;}
    }
    .date {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px;
      font-size: 14px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      .month {
        position: relative;
        top: -3px;
        text-transform: uppercase;
      }
      .day {
        position: absolute;
        bottom: 17px;
        right: 5px;
      }
      &:before {
        content:"";
        display: block;
        width: 1px;
        height: 80%;
        background: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) rotate(40deg);
      }

      @include tab {
        &:after {
          content:"";
          display: block;
          width: 2px;
          height: 65%;
          background: $primary;
          position: absolute;
          top: 50%;
          right: -14px;
          transform: translateY(-50%);
        }
      }
      
    }

    .sermon {
      position: relative;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      @include xs {
        width: 60%;
      }
    }

    .watch, .download {
      display: inline-block;
      width: auto;
      margin-right: 15px;
      @include tab {
        width: 100%;
        display: block;
        margin-right: 0;
      }
      a {
        display: inline-block;
        margin: 3px 0;
        color: #0999f3;
        &:hover {
          color: #191970;
        }
      }
    }

    .passage {
      width: 100%;
      font-size: 14px;
      padding-left: 20px;
      @include xs {
        width: 25%;
        padding-left: 0;
      }
    }

    .downloads {
      width: 100%;
      text-align: left;
      padding-left: 20px;
      margin-top: 15px;
      @include xs {
        width: 15%;
        padding-left: 0;
        text-align: center;
        margin-top: 0;
      }
    }

    h3 {
      color: $primary;
      font-size: 1.2rem;
      font-weight: normal;
      line-height: 1.1;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0 0 10px;
    }

    h4 {
      color: $primary;
      font-size: 15px;
      font-weight: normal;
      line-height: 1.1;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0 0;
    }
  }

  /* NEWSLETTER */
  .sermons.news {
    .info {
      padding: 20px;
      min-height: 30px;
      h3 {
        margin: 0 0;
        font-weight: 400;
        letter-spacing: 2px;
      }
      a {
        color: $primary;
        text-decoration: none;
        i {
          display: inline-block;
          position: relative;
          right: -5px;
          transition: all ease .2s;
        }
        &:hover {
          color: $lime;
          i {
            transform: translateX(4px);
          }
        }
      }
      .sermon {
        width: 100%;
        padding: 0 0;
      }
    }
  }

}

.pagination {
  width: 100%;
  float: left;
  margin: 20px 0 50px;
  a {
    display: inline-block;
    text-decoration: none;
    padding: 8px 10px;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    line-height: 1.1;
    background: $primary;
    min-width: 30px;
    text-align: center;
    &:hover {
      background: $lime;
    }
  }
  ul {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
  }
  li {
    float: left;
    margin-right: 5px;
    &.active {
      a {
        background: $lime;
      }
    }
  }
}
/* FOOTER */
.site-footer {
  background: $primary;
  color: #FFF;
  font-size: 13px;
  .wrapper {
    padding-top: 50px;
    padding-bottom: 50px
  }
}
.footer-widget {
  width: 100%;
  &.foot-logo {
    @include tab {
      padding-right: 5vw;
    }
    img {
      width: 150px;
      height: auto;
    }
  }
  @include tab {
    width: 25%;
  }
  .widgettitle {
    font-size: 0.85rem;
    letter-spacing: 1px;
    text-align: center;
    @include tab {
      text-align: left;
    }
  }

  .widgettext {
    line-height: 1.8;
    p {
      opacity: 0.75;
    }
    ul {
      margin: 0 0;
      padding: 0 0;
      list-style: none;
      text-transform: uppercase;
      li {
        margin: 0 0 4px;
      }
    }
    a {
      display: inline-block;
      color: #FFF;
      text-decoration: none;
      opacity: 0.75;
      &:hover {
        opacity: 1;
      }
    }
  }


  .social-media {
    @include flexgroup();
    @include flexbox-align-items(flex-start);
    @include flexbox-justify(flex-start);
    a {
      @include flexgroup();
      @include flexbox-align-items(center);
      @include flexbox-justify(center);
      margin: 0 5px;
      font-size: 0.7rem;
      line-height: 1;
      text-decoration: none;
      border-radius: 100px;
      background: #FFF;
      color: $primary;
      width: 25px;
      height: 25px;
      opacity: 1;
    }
  }
}
.alert {
  width: 100%;
  padding: 15px;
  color: #fff;
  background-color: $primary;
  text-align: center;
  margin-top: -1px;
  font-size: 16px;
  p {
    margin: 0;
  }
  a {
    color: #fff;
  }
}


